@page
@model JPWeb.UI.Pages.PendingRequests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<br />
<h2>Pending Requests</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].printer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].ProjectFilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].ProjectDescript)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Request)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.printer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ProjectFilePath)
                    </td>*@
                <td>
                    <form asp-page-handler="Download" asp-route-id="@item.Id" method="post">
                        <button class="btn btn-default">Download</button>
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectDescript)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
