@page
@model JPWeb.UI.Pages.ApprovedRequests.IndexModel

@{
    ViewData["Title"] = "Approved Requests";
}


<h2>Approved Requests</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].printer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].ProjectFilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].ProjectDescript)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Request)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.printer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    <form asp-page-handler="Download" asp-route-id="@item.Id" method="post">
                        <button class="btn btn-default">Download</button>
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @item.ProjectDescript.TruncateStringAndAddEllipses(55)
                </td>
                <td>                    
                    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="./Details" class="btn btn-success" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
