@page
@model JPWeb.UI.Pages.Printers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Printer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Printer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Printer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Printer.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Printer.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Printer.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Printer.Color.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Printer.Id" />        
        <a class="btn btn-primary" asp-page="./Index">Return to List</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
