@page
@model JPWeb.UI.Pages.Printers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Printer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Printer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Printer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Printer.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Printer.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Printer.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Printer.Color)
        </dd>
        <dt>
            <label>Requests</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Printer.Requests.Count)
        </dd>
        <dt>
            <label>Wait Time</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Printer.derp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
