@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Printers</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Printer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Printer[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Printer[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Printer[0].Requests)
            </th>
            <th>
                <label>Wait Time</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Printer)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requests.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.derp)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
