@page
@using JPWeb.UI.Utilities
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h2>Printers</h2>

@{System.Security.Claims.ClaimsIdentity user = (System.Security.Claims.ClaimsIdentity)(User.Identity);
if (AuthorizeHtmlHelper.UserIsAdminOrHigher(user))
    {
        <p>
            <a asp-page="Create">Create New Printer</a>
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Printer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Printer[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Printer[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].TimeDone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Printer)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color.Name)
            </td>
            <td>
                @{ var job = Model.Requests.ToList().SingleOrDefault(c => c.PrinterId.Equals(item.Id)
                    && c.Status.Name.Equals("Printing"));
                    if (job != null)
                    {
                        @Html.Raw(job.ProjectName);
                    }
                }
            </td>
            <td>
                @{
                    if (job != null)
                    {
                        @Html.Raw(job.TimeDone.ToShortTimeString());
                    }
                }
            </td>
            @{ if (AuthorizeHtmlHelper.UserIsAdminOrHigher(user))
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            }
        </tr>
        }
    </tbody>
</table>
