@page
@model JPWeb.UI.Pages.Messages.messageHubListModel
@{
    ViewData["Title"] = "Message Hubs";
}


<h2>Message Hubs</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Last Submitted Project
            </th>
            <th>
                Time Last Message Sent
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="table">
        @foreach (var item in Model._Messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender.Requests.LastOrDefault().ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender.LatestMessage)
                </td>
                <td>
                    <a class="btn btn-success" asp-page="/Messages/AdminMessagePage" asp-route-id="@item.Sender.Id">Message</a>
                </td>

            </tr>
        }
    </tbody>
</table>