@page
@model JPWeb.UI.Pages.Messages.messageHubListModel
@{
    ViewData["Title"] = "messageHubList";
}

<h2>Messages</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].hubTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].latestMsg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="table">
        @foreach (var item in Model.Messages)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hubTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latestMsg)

                <a asp-page="/Messages/viewMessage" asp-route-id="@item.messageHubId">Message</a>

            </td>
        </tr>
        }
    </tbody>
</table>