@page
@model JPWeb.UI.Pages.Messages.messageHubListModel
@{
    ViewData["Title"] = "messageHubList";
}

<br />
<br />
<br />
<h2>Message Hubs</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].Sender.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].request.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastMessage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="table">
        @foreach (var item in Model._Requests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.applicationUser.NormalizedEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.applicationUser.Messages.LastOrDefault().TimeSent)

                    <a asp-page="/Messages/AdminMessagePage" asp-route-id="@item.ApplicationUserId">Message</a>

                </td>
            </tr>
        }
    </tbody>
</table>