@page
@model JPWeb.UI.Pages.Messages.messageHubListModel
@{
    ViewData["Title"] = "messageHubList";
}

<br />
<br />
<br />
<h2>Message Hubs</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].Sender.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].Sender.Requests.LastOrDefault().ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].TimeSent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="table">
        @foreach (var item in Model.Messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender.Requests.LastOrDefault().DateMade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSent)

                    <a asp-page="/Messages/viewMessage" asp-route-id="@item.MessageId">Message</a>

                </td>
            </tr>
        }
    </tbody>
</table>