@page
@model JPWeb.UI.Pages.Messages.UserMessagePage
@{
    ViewData["Title"] = "UserMessagePage";
}
<h2>Messages</h2>

<table class="table">
    <thead>
        <tr>
            <th width="33%">
                @Html.DisplayNameFor(model => model.msgs[0].Sender.Email)
            </th>
            <th width="33%">
                @Html.DisplayNameFor(model => model.msgs[0].Body)
            </th>
            <th width="33%">
                @Html.DisplayNameFor(model => model.msgs[0].TimeSent)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

<div style="height: 500px; overflow: scroll; " id="scrollText">
    <table class="table">

        <tbody id="table">
            @foreach (var item in Model.msgs)
            {
                <tr>
                    <td width="33%">
                        @Html.DisplayFor(modelItem => item.Sender.Email)
                    </td>
                    <td width="33%">
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td width="33%">
                        @Html.DisplayFor(modelItem => item.TimeSent)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="newMsg.Body" class="form-control" />
                <span asp-validation-for="newMsg.Body" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>