@page
@model JPWeb.UI.Pages.Requests.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Requests.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Requests.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Requests.DateRequested)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Requests.DateRequested)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Requests.ProjectDescript)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Requests.ProjectDescript)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Index">Return to List</a>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Requests.Id">Edit Request</a>
</div>
