@page
@using JPWeb.UI.Utilities
@model JPWeb.UI.Pages.Requests.IndexModel

@{
    ViewData["Title"] = "Submitted Requests";
}

<h2>Submitted Requests</h2>
<p>
    <a asp-page="Create">Create New</a>
</p>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].ProjectName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Requests[0].DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].ProjectDescript)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @item.ProjectDescript.TruncateStringAndAddEllipses(60)
                </td>
                <td>
                    <a class="btn btn-success" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
