@page
@model JPWeb.UI.Pages.DeniedRequests.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Request.printer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Request.printer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Request.Status.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Request.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request.DateRequested)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Request.DateRequested)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request.ProjectDescript)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Request.ProjectDescript)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request.PersonalUse)
        </dt>
        <dd>
            @{var job = Model.Request.PersonalUse;
                if (job)
                {
                    var outTrue = "Yes";
                    @Html.Raw(outTrue);
                }
                else
                {
                    var outFalse = "False";
                    @Html.Raw(outFalse);
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Index">Return to List</a>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Request.Id">Edit Request</a>
</div>
