@page
@model JPWeb.UI.Pages.DeniedRequests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<br />
<h2>Denied Requests</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].printer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].ProjectDescript)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Request)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.printer.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectDescript)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Resubmit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
